# Dependency directories
node_modules/

# Environment variables
.env

# Build outputs
build/
dist/

# Logs
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db

# Editor/IDE files
.vscode/
.idea/